@component('components/layout', { site, page, submenu, back, print, home, styleUrl, footerHtml, assetVersion, galleryEnabled, t, languageLinks, clientTranslations })
  @if(home)
    @include('partials/home')
  @else
    @include('partials/page-content')
  @end
@end
